

<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>

 

<div class="container">

    <p>&nbsp;</p>

    <h1><%= message %></h1>

    <h2><%= error.status %></h2>

    <pre><%= error.stack %></pre>

    <p>&nbsp;</p>

</div>

 

<p>&nbsp;</p>

<p>&nbsp;</p>

 

<%- include('partials/bottom_nav.ejs') %>

<%- include('partials/footer.ejs') %>